@using GeziLog.Models.Classes
@model List<Comment>
@{
    ViewBag.Title = "CommentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorumlar</h2>
@Html.Action("TotalComment", "Admin")
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KULLANICI</th>
        <th>MAIL</th>
        <th>YORUM</th>
        <th>BLOG</th>
        <th>YORUM SİL</th>
        <th>YORUM DETAYLARI</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.UserName</td>
            <td>@x.Mail</td>
            <td>@x.CommentArea</td>
            <td>@x.Blog.Title</td>
            <td><a href="/Admin/DeleteComment/@x.ID" class="btn btn-danger">Sil</a></td>
            <td> <a href="/Default/BlogDetails/@x.Blogid" class="btn btn-primary">Detaylar</a></td>
        </tr>
    }
</table>