@model GeziLog.Models.Classes.BlogComment
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_ViewLayout.cshtml";
}

@foreach (var x in Model.Value1)
{
    <section class="w3l-breadcrumb py-5">
        <div class="container">
            <h6 class="sub-title"></h6>
            <div class="header-section">
                <h3>@x.Title</h3>
            </div>
        </div>
    </section>


    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="mr-3 mb-3 d-inline-block float-left">
                        <img src="@x.PhotoBlogURL" alt=" " class="img-fluid blogPic"/>
                    </span>
                    <p class="mb-4">
                        @x.Content
                    </p>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var y in Model.Value2)
{
    <ul class="comment-list">
        <li>
            <img src="~/web2/images/avatar.png" class="img-responsive" alt="">
            <div>
                <p> @y.UserName: <br /> @y.CommentArea </p>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
}

@Html.Action("ToComment", "Default")