@model GeziLog.Models.Classes.BlogComment
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_ViewLayout.cshtml";
}

@foreach (var x in Model.Value1)
{
    <section class="w3l-breadcrumb py-5">
        <div class="container">
            <h6 class="sub-title"></h6>
            <div class="header-section">
                <h3>@x.Title</h3>
            </div>
        </div>
    </section>

    <div class="about py-5">
        <div class="container py-lg-3">
            <div class="row">
                <div class="col-lg-6 publication-about-grid">
                    <p class="mb-4">
                        @x.Content
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 mt-lg-0 mt-5 real-about-grid">
                    <img src="@x.PhotoBlogURL" alt=" " class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
}

@foreach (var y in Model.Value2)
{
    <ul class="comment-list">
        <li>
            <img src="~/web2/images/avatar.png" class="img-responsive" alt="">
            <div class="desc">
                <p>@y.UserName: @y.CommentArea </p>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
}

@Html.Action("ToComment", "Default")